<!-- <div class="alert alert-danger">
    <select (change)="selectChange(hid.value)" 
            #hid 
            class="form-control">
        <option>--select--</option>
        <option *ngFor="let htl of hotels" [value]="htl.id">
            {{htl.id}}--{{htl.hotelName}}--{{htl.facility}}
        </option>
    </select>
    <div *ngIf="hotel.id != 0">
        Hotel Id : {{hotel.id}}
        <br/>
        Hotel Name : {{hotel.hotelName}}
        <br/>
        Hotel Facility : {{hotel.facility}}
        <br/>
        <button (click)="updateHotel()" class="btn btn-danger">Update Hotel</button>
    </div>
    <button (click)="show()" class="btn btn-danger">Show First</button>  

</div> -->
<body class="pageStyle">
    <h1>Update Hotel</h1>
<div class="alert alert-dark" class="wrapper">
    <select (change)="selectChange(hid.value)" 
            #hid 
            class="form-control">
        <option>--select--</option>
        <option *ngFor="let htl of hotels" [value]="htl.id">
            {{htl.id}}--{{htl.facility}}
        </option>
    </select>
    <!---- Employee Id: <input class="form-control" type="number" [value]="employee.id" #eid 
     (change)="changeId(eid.value)"> -->
     <br/>
     Hotel Name : <input class="form-control" type="text" [(ngModel)]="hotel.hotelName">
     <br/>
     Facility : <input class="form-control" type="text" [(ngModel)]="hotel.facility">
     <br/>
     <button  (click)="updateHotel()" class="btn btn-info"> Update Hotel</button>
     <button  (click)="cancel()" class="btn btn-info"> Cancel</button>
 </div>
</body>
