.pageStyle {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('https://images.unsplash.com/photo-1578683010236-d716f9a3f461?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80') no-repeat;
    background-size: cover; 
    background-position: center;
}
 h1 {
    font-size: 36px;
    text-align: center;
    color: rgb(86, 25, 241);
}
div{
    background-color: #f5f10a;
}
 /* .wrapper {
    width: 420px;
    height: 630px; 
    background: transparent;
    color: #42e7a8;
    border-radius: 10px;
    padding: 30px 40px;
} */
.wrapper .btn{
    width: 100px;
    height: 58px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}