body {

    font-family: Arial, sans-serif;

    background-color: aliceblue;

    text-align: center;

}

 

.btn {

    background-color: #007BFF;

    color: #fff;

    padding: 10px 20px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}