<div class="alert alert-dark">
    <!-- Order Id: <input class="form-control" type="number">
    <br/> -->
    Product Quantity : <input class="form-control" type="text" [(ngModel)]="order.productQuantity">
     <br/>
    Date Time : <input class="form-control" type="dateTime"[(ngModel)]="order.dateTime">
    <br/> 
    Order Date : <input class="form-control" type="orderDate"[(ngModel)]="order.orderDate"> 
    <br/>
    Total Price : <input class="form-control" type="number"[(ngModel)]="order.totalPrice">
    <br/>
    User Name : <input class="form-control" type="text" [(ngModel)]="order.username">
    <br/>
    <button (click)="addOrder()" class="btn btn-dark"> Add Order</button>


</div>
