<body class="pageStyle">
    <h1>Add Hotel</h1>
<div class="alert alert-dark" class="wrapper">
    <!---- Employee Id: <input class="form-control" type="number" [value]="employee.id" #eid 
     (change)="changeId(eid.value)"> -->
     <br/>
     <!-- Hotel Name : <input class="form-control" type="text" [(ngModel)]="hotel.hotelName"> -->
     <div class="input-box">        
        <input type="text" class="form-control" [(ngModel)]="hotel.hotelName" placeholder="Hotel Name" required>
        <i class='bx bxs-hotel'></i>           
    </div>
     <br/>
     <!-- Facility : <input class="form-control" type="text" [(ngModel)]="hotel.facility"> -->
     <div class="input-box">        
        <input type="text" class="form-control" [(ngModel)]="hotel.facility" placeholder="Facilitty" required>
        <i class='bx bxs-hotel'></i>           
    </div>
     <br/>
     <button  (click)="addHotel()" class="btn btn-dark"> Add Hotel<span [class]="className"></span></button>
     <button  (click)="cancel()" class="btn btn-dark"> Cancel<span [class]="className"></span></button>
 </div>
</body>