<!DOCTYPE html>
<body class="pageStyle">
    <h1>List Of Hotels</h1>
    <div *ngIf="hotels.length > 0 else nohotel"  class="wrapper" class="card" style="width: 18rem;">
        <div class="alert alert-primary" *ngFor="let hotel of hotels">
    
            <img class="card-img-top" [src]="hotel.pic" alt="Card image cap">
            <br/>
            Hotel Id: {{hotel.id}}
            <br/>
            Hotel Name : {{hotel.hotelName}}
            <br/>
            Hotel Facility : {{hotel.facility}}
            
            
        </div>
    </div>
    <button (click)="showRooms()" class="btn btn-info">Show Rooms</button> 
    <button  (click)="back()" class="btn btn-dark">  Back </button>
    
        
    <ng-template #nohotel >
        <div class="alert alert-warning">
            No hotels yet
        </div>
    </ng-template>
</body>



