<body class="pageStyle">
    <h1>Add Room</h1>
<div class="alert alert-dark" class="wrapper">
     <!-- Room Id: <input class="form-control" type="number" [value]="room.roomId" #rid 
     (change)="changeId(rid.value)"> -->
     <br/>
     Bed Type : <input class="form-control" type="text" [(ngModel)]="room.bedType">
     <br/>
     Balcony : <input class="form-control" type="text" [(ngModel)]="room.balcony">
     <br/>
     Price : <input class="form-control" type="number" [(ngModel)]="room.price">
     <br/>
     <button  (click)="addRoom()" class="btn btn-dark"> Add Room<span [class]="className"></span></button>
     <button  (click)="back()" class="btn btn-dark">  Back <span [class]="className"></span></button>
 </div>
</body>