<!DOCTYPE html>
<head><title>rooms</title></head>
<body class="pageStyle">
    <h1>List Of Rooms</h1>
    <div *ngIf="rooms.length > 0 else noroom" class="wrapper" >
        <div class="alert alert-primary" *ngFor="let room of rooms">
    
            Room Id: {{room.roomId}}
            <br/>
            Bed Type : {{room.bedType}}
            <br/>
            balcony : {{room.balcony}}
            <br/>
            price : {{room.price}}
        </div>
    </div>
    <button (click)="addRoom()" class="btn btn-info custom-update-button">add Room</button> 
    <button (click)="updateRoom()" class="btn btn-info custom-update-button">Update Room</button>
    <button (click)="deleteRoom()" class="btn btn-info custom-update-button">Delete Room</button>
    <button  (click)="back()" class="btn btn-dark">  Back </button>
        
    <ng-template #noroom >
        <div class="alert alert-warning">
            No rooms available 
        </div>
    </ng-template>
</body>


